<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312_H11/blob/main/CST2312_FOPP_Ch9_Tuples_wSolutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuples**

*by Professor Patrick — 2026*

*a copy of this Colab Jupyter notebook is [available online](https://bit.ly/cst2312FOPPch09Tuples)*

**Textbook Reference:** Runestone FOPP, [Chapter 9 — Tuples](https://runestone.academy/ns/books/published/fopp/Tuples/intro-tuples.html)  
**Course:** CST2312 — Information and Data Management

### Learning Objectives

By the end of this session you will be able to:

1. Explain what a tuple is and how it differs from a list with respect to mutability.
2. Create tuples using parentheses syntax, comma syntax, and the `tuple()` constructor.
3. Access tuple elements by index and apply slicing operations.
4. Use tuple assignment (unpacking) to assign multiple variables in a single statement.
5. Apply tuple unpacking within `for` loops when iterating over `enumerate()`, `zip()`, and `.items()`.
6. Write functions that return multiple values as a tuple and unpack the result at the call site.

### FOPP Chapter 9 Section Map

| Notebook Segment | FOPP Section(s) |
|:---|:---|
| What Is a Tuple? | 9.1 Introduction: Tuples |
| Tuple Operations: Indexing and Slicing | 9.1 |
| Immutability | 9.1 |
| Tuple Assignment and Unpacking | 9.2 Tuple Assignment with Unpacking |
| Tuples in Iteration | 9.3 Tuples as Return Values (partial), 9.2 |
| Tuples as Return Values | 9.3 Tuples as Return Values |
| Self-Study (reading assignment) | 9.4 Tuple Packing, 9.5 Glossary |

---

## What Is a Tuple?
*(FOPP 9.1 — 8 min)*

A **tuple** is an ordered, immutable sequence of values. Like a list, a tuple can hold items of any type and those items can be accessed by index. Unlike a list, a tuple **cannot be changed** after it is created — you cannot append to it, remove items from it, or reassign any of its elements.

**Syntax:** Tuples are written as comma-separated values, typically enclosed in parentheses:
```python
coordinates = (40.7128, -74.0060)   # latitude, longitude of New York City
rgb         = (255, 165, 0)         # orange in RGB
```

The parentheses are technically optional — the comma is what creates a tuple — but parentheses are the standard convention and should always be used for clarity:
```python
point = 3, 4      # valid tuple — the comma is the defining character
point = (3, 4)    # preferred — the same tuple, written clearly
```

**Single-element tuples** require a trailing comma. Without it, Python interprets the parentheses as a grouping operator, not a tuple:
```python
not_a_tuple = (42)    # integer 42
is_a_tuple  = (42,)   # tuple containing one integer
```

The **empty tuple** is written as `()`.

In [ ]:
# Creating tuples: several equivalent ways
coordinates = (40.7128, -74.0060)          # Parentheses (standard)
rgb_orange  = (255, 165, 0)                # RGB color
mixed       = ("Alice", 21, 3.85)          # Mixed types
single      = (99,)                        # Single-element: trailing comma required
empty       = ()                           # Empty tuple

print(type(coordinates), coordinates)
print(type(rgb_orange),  rgb_orange)
print(type(mixed),       mixed)
print(type(single),      single)
print(type(empty),       empty)

In [ ]:
# The tuple() constructor can convert other sequences to tuples
as_list  = [10, 20, 30]
as_tuple = tuple(as_list)
print("Original list:", as_list)
print("Type of as_list:", type(as_list))
print("As tuple:",      as_tuple)
print("Type of as_tuple:", type(as_tuple))

# A string converted to a tuple becomes a tuple of individual characters
chars_tuple = tuple("data")
print("String to tuple:", chars_tuple)
print("Type of chars:", type(chars_tuple))

### Tuple Operations: Indexing and Slicing

Because a tuple is an ordered sequence, the same indexing and slicing rules that apply to strings and lists apply to tuples:
- Positive indices count from the left, starting at `0`.
- Negative indices count from the right, starting at `-1`.
- Slicing with `[start:stop]` returns a **new tuple** containing the specified range.

*(Recall FOPP 6.3 — Index Operator: Working with the Characters of a String)*

In [ ]:
record = ("CityTech", "CST2312", "Data and Information Managememt I", 3, 2026)
#           index 0           1          2                    3  4

# Indexing
print("First element:",    record[0])   # 'CityTech'
print("Last element:",     record[-1])  # 2026
print("Third element:",    record[2])   # 'Data and Information Management I'

# Slicing — returns a new tuple
print("First three:",      record[:3])  # ('CityTech', 'CST2312', 'Data and Information Management I')
print("Last two:",         record[3:])

# len() works on tuples just as on lists
print("Length:",           len(record))

In [ ]:
# The 'in' operator tests membership
colors = ("red", "green", "blue")

print("red in colors:",    "red"    in colors)   # True
print("yellow in colors:", "yellow" in colors)   # False

# Concatenation and repetition produce new tuples
a = (1, 2, 3)
b = (4, 5, 6)
print("Concatenation:",    a + b)       # (1, 2, 3, 4, 5, 6)
print("Repetition:",       a * 2)       # (1, 2, 3, 1, 2, 3)

Some comparative slicing - tuples and lists

In [ ]:
nyc_bridges_list    = ["Brooklyn", "Ed Koch", "Manhattan", "Verrazano"]
nyc_bridges_tuples  = ("Brooklyn", "Ed Koch", "Manhattan", "Verrazano")

print("List slicing:", nyc_bridges_list[1:3])
print("Tuple slicing:", nyc_bridges_tuples[1:3])

print("List last 2:", nyc_bridges_list[-2:])
print("Tuple last 2:", nyc_bridges_tuples[-2:])

<i>What about `.insert()`?</i>

In [ ]:
colors = ("red", "green", "blue")

colors.insert(1, "yellow")   # AttributeError: 'tuple' object has no attribute 'insert'

<i>What about `.pop()`?</i>

In [ ]:
colors = ("red", "green", "blue")

x = colors.pop(1)   # AttributeError: 'tuple' object has no attribute 'pop'

<i>What about `.append()`?</i>

In [ ]:
colors = ("red", "green", "blue")

colors.append("yellow")   # AttributeError: 'tuple' object has no attribute 'append'

---

## Immutability
*(FOPP 9.1 — 7 min)*

The defining characteristic of a tuple is **immutability**: once created, its contents cannot be altered. Any attempt to reassign an element or call a mutating method will raise a `TypeError`.

```python
point = (3, 4)
point[0] = 99    # TypeError: 'tuple' object does not support item assignment
```

This is in direct contrast to lists, which support both `append()` and item assignment.

**Why does immutability matter in data science?**

- **Safety:** Tuples are appropriate for data that should not change — coordinates, column headers, configuration parameters, database keys. Using a tuple instead of a list signals to both Python and to future readers of your code that the value is fixed.
- **Hashability:** Because tuples cannot change, Python can use them as **dictionary keys** and as elements of sets. Lists cannot be used as dictionary keys.
- **Return values:** Functions commonly return multiple values as a tuple precisely because the values belong together and should not be modified independently.

Note that immutability applies to the tuple's **structure**, not to the objects it contains. If a tuple holds a mutable object (such as a list), that object can still be modified in place.

In [ ]:
# Demonstrate that item assignment raises a TypeError
point = (3, 4)
print("Original tuple:", point)

try:
    point[0] = 99
except TypeError as e:
    print(f"TypeError caught: {e}")

In [ ]:
# Tuples vs. lists: method comparison
t = (1, 2, 3)
lst = [1, 2, 3]

# Tuples have only two methods: count() and index()
print("Tuple methods:  count, index")
print("t.count(2):",  t.count(2))   # number of times 2 appears
print("t.index(3):",  t.index(3))   # position of first occurrence of 3

# Lists have many more methods (append, remove, sort, etc.)
lst.append(4)
print("List after append:", lst)
# t.append(4)  <-- would raise AttributeError

In [ ]:
# Tuples are hashable and can be used as dictionary keys
# (Recall: lists cannot be used as dictionary keys)

# Example: store city data indexed by (latitude, longitude) tuple
city_data = {
    (40.7128, -74.0060): "New York City",
    (34.0522, -118.2437): "Los Angeles",
    (41.8781, -87.6298):  "Chicago",
}

lookup_key = (40.7128, -74.0060)
print("City at", lookup_key, ":", city_data[lookup_key])

# A list as a key would raise a TypeError:
# city_data[[40.7128, -74.0060]] = "New York"   # TypeError: unhashable type: 'list'

The more practical use of a geographic dictionary would be to have the string of a city name as the key and the latitude, longitude as the values.  Try adding to the following code so that it does that.

In [ ]:
# Exercise: store city data indexed by name string
city_data = {
    ,
    ,
    ,
}

lookup_key = "New York City"
print("Location of", lookup_key, ":", city_data[lookup_key])

### Solution

In [ ]:
# Exercise Solution: store city data indexed by name string
city_data = {
    "New York City" :(40.7128, -74.0060),
    "Los Angeles" : (34.0522, -118.2437),
    "Chicago" : (41.8781, -87.6298),
}

lookup_key = "New York City"
print("Location of", lookup_key, ":", city_data[lookup_key])

---

## Tuple Assignment and Unpacking
*(FOPP 9.2 — 12 min)*

**Tuple assignment** (also called **unpacking**) is one of the most practically important features in Python. It allows you to assign the elements of a tuple to individual variables in a single statement:

```python
coordinates = (40.7128, -74.0060)
lat, lon = coordinates    # unpack two values into two variables
```

The number of variables on the left must match the number of elements in the tuple. A mismatch raises a `ValueError`.

Unpacking can also be applied directly to a literal tuple without first assigning it to a variable:
```python
lat, lon = (40.7128, -74.0060)
```

This pattern appears constantly in data manipulation workflows, particularly when iterating over `enumerate()`, `zip()`, and dictionary `.items()` — all of which yield tuples.

In [ ]:
# Basic tuple unpacking
coordinates = (40.7128, -74.0060)
lat, lon = coordinates

# c_type = type

print(f"Type of coordinates: {type(coordinates)}")
print(f"Latitude:  {lat}")
print(f"Longitude: {lon}")
print(f"Type of lat: {type(lat)}")
print(f"Type of lon: {type(lon)}")

# Unpack directly from a literal (no intermediate variable needed)
name, major, gpa = ("Alice Johnson", "Data Science", 3.85)
print(f"{name} is studying {major} with a GPA of {gpa}")

In [ ]:
# Swapping two variables is a classic use of tuple unpacking
# (No temporary variable required)
a = 10
b = 20
print(f"Before swap: a = {a}, b = {b}")

a, b = (b, a)      # Python evaluates the right side as a tuple first, then unpacks
print(f"After swap:  a = {a}, b = {b}")

### Unpacking with `enumerate()`

`enumerate()` wraps an iterable and yields `(index, value)` tuples. Unpacking inside the loop header gives both values meaningful names, which is preferable to accessing them by index:
```python
for i, value in enumerate(my_list):
    ...
```
*(Recall FOPP 9.18 — The Accumulator Pattern with Lists)*

In [ ]:
# enumerate() yields (index, value) tuples — unpack in the loop header
features = ["age", "income", "credit_score", "loan_amount"]

print("Feature index mapping:")
for index, feature_name in enumerate(features):
    print(f"  Column {index}: {feature_name}")

### Unpacking with `zip()`

`zip()` pairs up elements from two or more iterables and yields tuples. Unpacking in the loop header makes the correspondence between the two sequences explicit.

In [ ]:
# zip() yields (a, b) tuples — unpack in the loop header
model_names  = ["Logistic Regression", "Decision Tree", "Random Forest"]
accuracies   = [0.82, 0.78, 0.91]

print("Model performance:")
for model, accuracy in zip(model_names, accuracies):
    print(f"  {model:<22}: {accuracy:.0%}")

### Unpacking with Dictionary `.items()`

Iterating over `dict.items()` yields `(key, value)` tuples. Unpacking them in the loop header is the idiomatic Python pattern for dictionary iteration.

In [ ]:
# dict.items() yields (key, value) tuples
column_types = {
    "customer_id":  "int",
    "purchase_date": "datetime",
    "amount":        "float",
    "category":      "str",
}

print("Schema:")
for column_name, dtype in column_types.items():
    print(f"  {column_name:<18}: {dtype}")

... or, using our earlier `city_data` dictionary:

In [ ]:
city_data = {
    "New York City" :(40.7128, -74.0060),
    "Los Angeles" : (34.0522, -118.2437),
    "Chicago" : (41.8781, -87.6298),
}
print("City Dataset:")
for city_name, coordinates in city_data.items():
    print(f"  '{city_name}' is at {coordinates}")

---

## Tuples as Return Values
*(FOPP 9.3 — 5 min)*

A function can return only one value. However, that one value can be a **tuple**, which effectively allows a function to return multiple pieces of information in a single `return` statement.

```python
def min_max(values):
    return min(values), max(values)   # returns a tuple

low, high = min_max([3, 1, 7, 2, 9])  # unpack at the call site
```

This pattern is used extensively in data science libraries. For example, `sklearn.model_selection.train_test_split()` returns a tuple of four arrays:
```python
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
```
Recognizing this as tuple unpacking explains why four variable names appear on the left side of a single assignment.

In [ ]:
# A function that returns summary statistics as a tuple
def summary_stats(values):
    """Return (mean, minimum, maximum) for a list of numbers."""
    mean_val = sum(values) / len(values)
    min_val  = min(values)
    max_val  = max(values)
    return mean_val, min_val, max_val   # implicitly returns a tuple

scores = [88, 72, 95, 61, 83, 79, 90]

# Capture the full tuple ...
result = summary_stats(scores)
print("Full tuple returned:", result)
print("Type of result:", type(result))
print()

# ... or unpack immediately at the call site
mean, low, high = summary_stats(scores)
print(f"Mean:  {mean:.1f}")
print(f"Min:   {low}")
print(f"Max:   {high}")

In [ ]:
# A function that returns a cleaned value and a status flag
def parse_score(raw_value):
    """Attempt to parse raw_value as a float score.
    Returns (parsed_value, is_valid) — a (float or None, bool) tuple.
    """
    try:
        parsed = float(raw_value)
        return parsed, True
    except ValueError:
        return None, False

raw_entries = ["85.5", "72", "N/A", "91.0", "missing"]

print("Parsing results:")
valid_scores = []
for entry in raw_entries:
    value, is_valid = parse_score(entry)    # unpack the returned tuple
    if is_valid:
        valid_scores.append(value)
        print(f"  {entry!r:10} -> {value}  [valid]")
    else:
        print(f"  {entry!r:10} -> skipped  [invalid]")

print(f"\nValid scores: {valid_scores}")
print(f"Mean of valid scores: {sum(valid_scores)/len(valid_scores):.2f}")

---

## Exercises: Tuples

**Objective:** Practice creating tuples, applying unpacking in iteration, and writing functions that return tuples.

### Task 1: Unpack and Format a Dataset Record

The list `records` below contains tuples representing individual sales transactions. Each tuple has the form `(transaction_id, product, quantity, unit_price)`.

Write a loop that unpacks each tuple in the loop header and prints a formatted summary line for each transaction, including the computed total (`quantity * unit_price`).

**Starter code is provided below.** Complete the loop body.

**Expected output:**
```
TX-1001  | Widget A        |  qty:  12 | unit: $15.50 | total: $186.00
TX-1002  | Widget B        |  qty:   5 | unit: $42.00 | total: $210.00
TX-1003  | Widget C        |  qty:  30 | unit:  $8.75 | total: $262.50
TX-1004  | Widget A        |  qty:   8 | unit: $15.50 | total: $124.00
TX-1005  | Widget D        |  qty:  20 | unit: $22.00 | total: $440.00
```

In [ ]:
# Task 1: Unpack and format sales transaction records
records = [
    ("TX-1001", "Widget A", 12, 15.50),
    ("TX-1002", "Widget B",  5, 42.00),
    ("TX-1003", "Widget C", 30,  8.75),
    ("TX-1004", "Widget A",  8, 15.50),
    ("TX-1005", "Widget D", 20, 22.00),
]

for tx_id, product, qty, unit_price in records:
    # Your code here: compute total and print the formatted line
    pass

### Task 2: Use `enumerate()` to Build an Index

The list `column_names` contains the headers of a dataset. Use `enumerate()` with tuple unpacking to build a dictionary that maps each column name to its integer index position. Print the resulting dictionary.

**Hint:** Accumulate into an empty dictionary inside the loop.

**Expected output:**
```
{'customer_id': 0, 'age': 1, 'income': 2, 'credit_score': 3, 'loan_approved': 4}
```

In [ ]:
# Task 2: Build a column-to-index mapping using enumerate()
column_names = ["customer_id", "age", "income", "credit_score", "loan_approved"]

column_index = {}   # Accumulator

for index, name in enumerate(column_names):
    # Your code here: add name -> index to the dictionary
    pass

print(column_index)

### Task 3: Use `zip()` to Pair Parallel Lists

Two lists are provided: `models` and `test_scores`. Use `zip()` with tuple unpacking to print each model name alongside its test accuracy. Then compute and print the name of the best-performing model.

**Expected output:**
```
Logistic Regression  : 82.3%
Decision Tree        : 77.8%
Random Forest        : 91.5%
Gradient Boosting    : 89.2%
Naive Bayes          : 74.6%

Best model: Random Forest (91.5%)
```

**Hint:** You may use a separate loop or a different approach to identify the best model. Both are acceptable.

In [ ]:
# Task 3: Pair model names with test scores using zip()
models      = ["Logistic Regression", "Decision Tree", "Random Forest",
               "Gradient Boosting",   "Naive Bayes"]
test_scores = [82.3, 77.8, 91.5, 89.2, 74.6]

# Part A: print each model and its accuracy
for model, score in zip(models, test_scores):
    # Your code here
    pass

# Part B: identify and print the best-performing model
# Your code here

### Task 4: Write a Function That Returns a Tuple

Write a function called `value_range(data)` that accepts a list of numbers and returns a tuple `(minimum, maximum, range_)`, where `range_` is `maximum - minimum`.

Call the function on the list `sample_data` provided below and unpack the result into three variables. Print each value on its own line.

**Expected output:**
```
Minimum : 14
Maximum : 98
Range   : 84
```

In [ ]:
# Task 4: Function returning a tuple of summary values
sample_data = [42, 67, 14, 98, 55, 31, 76, 23, 88, 49]

def value_range(data):
    """Return (minimum, maximum, range_) for the list of numbers."""
    # Your code here
    pass

# Call the function and unpack the result
# minimum, maximum, range_ = value_range(sample_data)
# print(f"Minimum : {minimum}")
# print(f"Maximum : {maximum}")
# print(f"Range   : {range_}")

### Task 5 (Challenge): Accumulate Tuples and Sort a Leaderboard

The dictionary `student_scores` maps each student name to a list of quiz scores. For each student, compute the mean score and build a list of `(mean_score, name)` tuples using the accumulator pattern.

Sort the list in **descending order by mean score** and print a formatted leaderboard.

**Hint:** Python sorts tuples lexicographically — the first element is compared first. Place the numeric score first in the tuple so that the sort operates on it. Use `reverse=True` with `.sort()` or `sorted()`.

**Expected output:**
```
Leaderboard
───────────────────────────
 1. Charlie Davis    : 91.3
 2. Alice Johnson    : 88.0
 3. Ethan Brown      : 84.3
 4. Diana Lee        : 80.0
 5. Bob Smith        : 75.7
```

In [ ]:
# Task 5 (Challenge): Build and sort a leaderboard of mean scores
student_scores = {
    "Alice Johnson": [85, 92, 87],
    "Bob Smith":     [70, 78, 79],
    "Charlie Davis": [95, 88, 91],
    "Diana Lee":     [82, 75, 83],
    "Ethan Brown":   [80, 88, 85],
}

# Your code here:
# 1. Iterate over student_scores.items() with unpacking
# 2. Compute the mean score for each student
# 3. Append a (mean_score, name) tuple to an accumulator list
# 4. Sort the list in descending order
# 5. Print the formatted leaderboard

---

**Congratulations!**

You have created and indexed tuples, applied immutability to reason about when tuples are appropriate, used tuple unpacking to assign multiple variables in a single statement, and written functions that return tuples. The unpacking patterns practiced here — with `enumerate()`, `zip()`, and `.items()` — recur throughout data manipulation code and are the foundation for understanding how functions in libraries such as scikit-learn return multiple objects simultaneously.

---

## Glossary
*(FOPP 9.5)*

- **tuple** — An ordered, immutable sequence of values. Tuples are written as comma-separated values enclosed in parentheses, e.g. `(1, 2, 3)`. Unlike lists, tuples cannot be modified after creation.
- **immutability** — The property of an object whose value cannot be changed after it is created. Integers, floats, strings, and tuples are immutable; lists and dictionaries are mutable.
- **tuple assignment (unpacking)** — A statement in which the elements of a tuple are assigned to multiple variables in a single step: `a, b = (1, 2)`. The number of variables must match the number of elements.
- **hashable** — An object that can be used as a dictionary key or set element. An object is hashable if it has a `__hash__()` method and its value never changes. Tuples of hashable elements are hashable; lists are not.
- **`enumerate()`** — A built-in function that wraps an iterable and yields `(index, value)` tuples, allowing both the position and the value to be accessed in a loop.
- **`zip()`** — A built-in function that takes two or more iterables and yields tuples pairing corresponding elements: `zip([1,2], ['a','b'])` yields `(1, 'a')` then `(2, 'b')`.
- **trailing comma** — The comma required when defining a single-element tuple: `(42,)`. Without it, `(42)` is interpreted as the integer `42` in parentheses, not a tuple.

---

## Reading Assignment

- **Runestone FOPP Chapter 9**, Sections 9.1 through 9.5 (review the embedded interactive exercises as you read)

The following sections are designated for self-study and will appear on assessments:

- **9.1** Introduction: Tuples
- **9.2** Tuple Assignment with Unpacking
- **9.3** Tuples as Return Values
- **9.4** Tuple Packing
- **9.5** Glossary

---

## *Solutions*

### *Task 1 — Solution: Unpack and Format a Dataset Record*

In [ ]:
# Task 1 Solution
records = [
    ("TX-1001", "Widget A", 12, 15.50),
    ("TX-1002", "Widget B",  5, 42.00),
    ("TX-1003", "Widget C", 30,  8.75),
    ("TX-1004", "Widget A",  8, 15.50),
    ("TX-1005", "Widget D", 20, 22.00),
]

for tx_id, product, qty, unit_price in records:
    total = qty * unit_price
    print(f"{tx_id:<8} | {product:<15} |  qty: {qty:>3} | unit: ${unit_price:>5.2f} | total: ${total:>6.2f}")

### *Task 2 — Solution: Use `enumerate()` to Build an Index*

In [ ]:
# Task 2 Solution
column_names = ["customer_id", "age", "income", "credit_score", "loan_approved"]

column_index = {}
for index, name in enumerate(column_names):
    column_index[name] = index

print(column_index)

### *Task 3 — Solution: Use `zip()` to Pair Parallel Lists*

In [ ]:
# Task 3 Solution
models      = ["Logistic Regression", "Decision Tree", "Random Forest",
               "Gradient Boosting",   "Naive Bayes"]
test_scores = [82.3, 77.8, 91.5, 89.2, 74.6]

# Part A: print each model and accuracy
for model, score in zip(models, test_scores):
    print(f"{model:<20} : {score:.1f}%")

print()

# Part B: find the best model
best_model, best_score = "", 0.0
for model, score in zip(models, test_scores):
    if score > best_score:
        best_score = score
        best_model = model

print(f"Best model: {best_model} ({best_score:.1f}%)")

### *Task 4 — Solution: Write a Function That Returns a Tuple*

In [ ]:
# Task 4 Solution
sample_data = [42, 67, 14, 98, 55, 31, 76, 23, 88, 49]

def value_range(data):
    """Return (minimum, maximum, range_) for the list of numbers."""
    minimum = min(data)
    maximum = max(data)
    range_  = maximum - minimum
    return minimum, maximum, range_

minimum, maximum, range_ = value_range(sample_data)
print(f"Minimum : {minimum}")
print(f"Maximum : {maximum}")
print(f"Range   : {range_}")

### *Task 5 — Solution: Accumulate Tuples and Sort a Leaderboard*

In [ ]:
# Task 5 Solution
student_scores = {
    "Alice Johnson": [85, 92, 87],
    "Bob Smith":     [70, 78, 79],
    "Charlie Davis": [95, 88, 91],
    "Diana Lee":     [82, 75, 83],
    "Ethan Brown":   [80, 88, 85],
}

# Build a list of (mean_score, name) tuples
leaderboard = []
for name, scores in student_scores.items():
    mean = sum(scores) / len(scores)
    leaderboard.append((mean, name))

# Sort descending by mean score (first element of each tuple)
leaderboard.sort(reverse=True)

# Print the formatted leaderboard
print("Leaderboard")
print("─" * 27)
for rank, (mean, name) in enumerate(leaderboard, start=1):
    print(f"{rank:>2}. {name:<18}: {mean:.1f}")

---