<a href="https://colab.research.google.com/github/ProfessorPatrickSlatraigh/CST2312_H11/blob/main/CST2312_MidtermReview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Midterm Review

This notebook provides a conceptual review of Python programming topics covered on the midterm exam for CST2312. There are brief explanations and illustrative examples for each topic.
  
*This notebook can be accessed with the link -- https://bit.ly/cst2312midtermReview*



---

## Variables/Types - Variable assignment

**Concept:** Review how to use variable assignment in the context of variables/types.

In [ ]:
x = 5
y = 'Hello'
print(type(x), type(y))

In [ ]:
# Python example of use of the dir() function

In [ ]:
age = 30

In [ ]:
price = 29.99

In [ ]:
is_active = True



---

## Glossary of Python Function Terminology  
  
- **Argument:** Same as 'Parameter'. A value passed to a function when it is called, used by the function to perform its task.
- **Call:** The same as 'Invoke', to execute a function.  
- **Definition:** To create an object in memory that has the function's name and instructions.
- **Fruitful:** A function that returns a value after execution.
- **Global Variable:** A variable defined outside of any function, accessible from any function within the same module.
- **Invoke:** The same as 'Call', to execute a function.
- **Local Variable:** A variable defined within a function, accessible only within that function.
- **Non-Void:** A function that returns data.
- **Pass:** A Keyword statement that executes nothing. Used when the code to be written is not yet known.  
- **Parameter:** Same as 'Argument'. A value passed to a function when it is called, used by the function to perform its task.
- **Return:** A statement that ends a function's execution and sends a specified value back to the caller.
- **Side Effect:** Any operation a function performs other than returning a value.  
- **Terse:** A function that returns one or more values but has no side-effects.
- **Verbose:** A function with side-effects that print or display.
- **Void:** A function that does not return a value upon completion.



---

## Functions - Defining functions

**Concept:** Review how to use defining functions in the context of functions.

In [ ]:
def add(a, b):
    return a + b
print(add(2, 3))

## Functions - Parameters and arguments

**Concept:** Review how to use parameters and arguments in the context of functions.

In [ ]:
def add(a, b):
    return a + b
print(add(2, 3))

In [ ]:
def passargs(x, y=0):
    print(f"The value of x is {x}, and the value of y is {y}")
passargs(1)

Use of keyword arguments:

In [ ]:
def calculate_area(shape, **kwargs):
    """Calculates the area of a given shape.

    Args:
        shape: The type of shape ('rectangle', 'circle', or 'triangle').
        **kwargs: Keyword arguments specific to the shape:
            - rectangle: width and height
            - circle: radius
            - triangle: base and height

    Returns:
        The area of the shape, or None if the shape is invalid.
    """

    if shape == 'rectangle':
        width = kwargs.get('width')
        height = kwargs.get('height')
        if width is not None and height is not None:
            return width * height
    elif shape == 'circle':
        radius = kwargs.get('radius')
        if radius is not None:
            return 3.14159 * radius**2  # Using pi approximation
    elif shape == 'triangle':
        base = kwargs.get('base')
        height = kwargs.get('height')
        if base is not None and height is not None:
            return 0.5 * base * height

    return None  # Invalid shape or missing arguments

In [ ]:
# Example usage:
area1 = calculate_area('rectangle', width=5, height=3)
area2 = calculate_area('circle', radius=2)
area3 = calculate_area('triangle', base=4, height=6)

print(f"Area of rectangle: {area1}")
print(f"Area of circle: {area2}")
print(f"Area of triangle: {area3}")

### <u>Other Function Exercises</u>

### `is_divisible` Function -- Verbose Version
**is_divisible()** - Example of a verbose, fruitful function which returns a Bool for mod 0.

In [ ]:
# a Boolean function which returns the absolute value or NoneType for zero
def is_divisible(x, y):
    """This function returns True for x%%y = 0"""
    if x % y == 0:
        return True
    else:
        return False

In [ ]:
help(is_divisible)

In [ ]:
fourAndTwo = is_divisible(4, 2)

In [ ]:
fourAndTwo

### `is_divisible` Function -- Terse Version
**is_divisible()** - Example of a terse, fruitful function which returns a Bool for mod 0.

In [ ]:
# a simple function which returns the absolute value or NoneType for zero
def is_divisible(x, y):
    """This function returns True for x%%y = 0"""
    return not x % y

*Why do the two last functions both produce the same result?*

### `is_passing` Function
**is_passing()** - Example of a fruitful function which returns a Bool for a passing grade or not.

In [ ]:
# a compound Boolean function which returns a Bool for whether the argument is a passing grade
def is_passing(x):
    """This function returns true when x is a passing grade."""
    if 0 <= x <= 59.9:
        return False
    elif x > 100:
         print(x, " is not a valid score. ")
         return False
    elif x < 0:
         print(x, " is not a valid score. ")
         return False
    else:
         return True

### `area` Function (based on radius)
**area()** - Example of a fruitful function which returns area of a circle with radius argument.

In [ ]:
# a simple, fruitful, function which returns the area of a circle with radius argument
def area(radius):
    """This function takes a circle's radius as an argument and returns the area of that circle"""
    return 3.14159 * radius**2

### `absolute_value` Function
**absolute_value()** - Example of a fruitful function which returns the absolute value of the argument.

In [ ]:
# a simple, fruitful, function which returns the absolute value of the argument
def absolute_value(x):
    """This function takes a value and returns the absolute value unless the argument is zero"""
    if x < 0:
        return -x
    elif x > 0:
        return x

*Why did we not use an else: statement above?*

Let's write a function that works on strings.

In [ ]:
def hasAnAt(strArg):
    for character in strArg:
        if character == '@':
            return True
    return False

In [ ]:
hasAnAt('franklindroosevelt@ altostrat.edu')

In [ ]:
def findAt(strArg):
    """Returns a list of index positions of '@' in strArg or False"""
    strArg = str(strArg)
    atList = []
    for indx in range(len(strArg)):
        if strArg[indx] == '@':
            atList.append(indx)
    if len(atList) > 0:
        return atList
    return False

In [ ]:
where = findAt('franklindroosevelt@ altostrat.edu')

In [ ]:
where



---

## Files - File modes

**Concept:** Review how to use file modes in the context of files.

In [ ]:
with open('data.txt', 'w') as f:
    f.write('Sample data for file read example.\nSample 2nd line.\nSample third line.')

with open('data.txt', 'r') as f:
    content = f.read()
    print(content)

In [ ]:
with open('data.txt', 'r') as f:
    next(f)  # Skip the first line
    content = f.read()
    # Process the remaining content
    print(content)



---

## For Loops - Nested loops

**Concept:** Review how to use nested loops in the context of for loops.

In [ ]:
for i in range(3):
    print(i)

In [ ]:
for letter in 'Python':
    if letter == 'h':
        continue
    print(letter)

In [ ]:
data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Calculate the sum of elements in each sublist
sublist_sums = []
for sublist in data:
    total = 0
    for item in sublist:
        total += item
    sublist_sums.append(total)

print(sublist_sums)  # Output: [6, 15, 24]



---

## Indexing in Lists and Strings


Square brackets (or square braces):
[ is a left square bracket
] is a right square bracket
Lists in Python use square brackets []

Assigning a list of integers from 1 to 4 to the object **x**:

In [ ]:
empty_list = []

In [ ]:
x = [1, 2, 3, 4]

In [ ]:
x[2]

In [ ]:
print(bool(x))

In [ ]:
print(bool([]))

Each member of a list is an element.  Elements have values and an index position in the list.

Remember that we start counting index positions with 0 (zero), not 1 (one)!

![PPT-single-slide_for-colab.png]()

We can reference elements in a list object using the elements index number on square brackets after the list object name []

What does Python return when you type **x**[?] and hit enter?

In [ ]:
x[0]

In [ ]:
print(x[0])
print(x[1])
print(x[2])
print(x[3])

In [ ]:
i = 0
while i < 4:
    print(x[i])
    i += 1

In [ ]:
for i in range(4):
    print(x[i])

## Lists - List comprehensions

**Concept:** Review how to use list comprehensions in the context of lists.

In [ ]:
[x**2 for x in range(5)]

In [ ]:
# Python example using the .get() method



---

## Lists - List methods

**Concept:** Review how to use list methods in the context of lists.

In [ ]:
fruits = ['apple', 'banana']
fruits.append('cherry')
print(fruits)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, 'orange')  # Insert 'orange' at index 1
print(fruits)  # Output: ['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ['apple', 'banana']
more_fruits = ['cherry', 'orange']
fruits.extend(more_fruits)
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'banana']
fruits.remove('banana')  # Removes the first 'banana'
print(fruits)  # Output: ['apple', 'cherry', 'banana']

In [ ]:
fruits = ['apple', 'banana', 'cherry']
removed_fruit = fruits.pop(1)  # Remove and return element at index 1
print(removed_fruit)  # Output: banana
print(fruits)  # Output: ['apple', 'cherry']

In [ ]:
my_list = [7, 8, 3, 3, 1, 4, 5]
my_list.sort()
print(my_list)  # Output: [1, 3, 3, 4, 5, 7, 8]

In [ ]:
my_list = [7, 8, 3, 3, 1, 4, 5]
my_list.reverse()
print(my_list)  # Output: [5, 4, 1, 3, 3, 8, 7]

In [ ]:
fruits = ['apple', 'banana', 'cherry']
index = fruits.index('banana')
print(index)  # Output: 1

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'banana']
count = fruits.count('banana')
print(count)  # Output: 2

## Lists - List indexing and slicing

**Concept:** Review how to use list indexing and slicing in the context of lists.

In [ ]:
fruits = [['apple', 'banana'], ['cherry'], ['mango'], ['pizza']]
print(fruits[1])
print(fruits[:2])



---

## Strings - String formatting

**Concept:** Review how to use string formatting in the context of strings.

In [ ]:
greeting = 'Hello'
print(greeting.upper()) # Output: HELLO

In [ ]:
shout = "I'M EXCITED!"
print(shout.lower())  # Output: i'm excited!

In [ ]:
text = "   extra spaces   "
print(text.strip())  # Output: extra spaces

In [ ]:
words = "This is a sentence."
print(words.split())  # Output: ['This', 'is', 'a', 'sentence.']

In [ ]:
words = ['This', 'is', 'a', 'sentence.']
print(' '.join(words))  # Output: This is a sentence.

In [ ]:
sentence = "I like cats."
print(sentence.replace("cats", "dogs"))  # Output: I like dogs.

In [ ]:
text = "Hello world"
print(text.startswith("Hello"))  # Output: True

In [ ]:
text = "This is a test."
print(text.find("is"))  # Output: 2

In [ ]:
text = "This is a test."
print(text.count("is"))  # Output: 2

What other string methods do you know?

### Slicing Python Strings

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain a substring:

In [ ]:
word = "Python"
print(word)

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)
print(word)
print(word[0:2])

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)
print(word)
print(word[2:5])

In [ ]:
word[2:]  # characters from position 2 (included) to the end
print(word[2:])

In [ ]:
word[:3]  # characters from beginning (position 0) to position 3 (excluded)
print(word[:3])

In [ ]:
word[-3:]  # last three characters
print(word[-3:])

In [ ]:
word[-3:-1]  # penultimate two characters
print(word[-3:-1])

In [ ]:
word[1:-1]
print(word[1:-1])

In [ ]:

word = 'Python'
first_three = word[0:3] # starts at zero index and up to 3 but not include 3
print(first_three) #Pyt
last_three = word[3:6]
print(last_three) # hon
# Another way
last_three = word[-3:]
print(last_three)   # hon
last_three = word[3:]
print(last_three)   # hon

#### Reversing a String

We can easily reverse strings in python.

In [ ]:
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

### Escape Sequences in Strings

In Python and other programming languages \ followed by a character is an escape sequence. Let us see the most common escape characters:

- \n: new line
- \t: Tab means(8 spaces)
- \\\\: Back slash
- \\': Single quote (')
- \\": Double quote (")

Now, let us see the use of the above escape sequences with examples.

In [ ]:
str1 = 'This isn\'t a good example'
print(str1) # This isn't a good example

Let's try a few examples...

In [ ]:

str2 = "I want to print a backslash: \\"
print(str2)

In [ ]:

str3 = 'This is a string within single quotes that can contain "double quotes" as part of the string'
print(str3)

In [ ]:

str4 = 'If we want to have \'single quotes\' in single quoted string we should escape them'
print(str4)

In [ ]:

str5 = "Similarly, if we want to have \"double quotes\" in double quoted string we should escape them\n"
print(str5)

Here is an example that makes use of a mix of escape sequences.

In [ ]:

print('I hope everyone is enjoying the Python stringObject.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

<b><u>Output</b></u>  
```
I hope every one is enjoying the Python stringObject.
Are you ?
Days	Topics	Exercises
Day 1	5	    5
Day 2	6	    20
Day 3	5	    23
Day 4	1	    35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"
```

We learn that strings are a special form of lists.

*   Strings are sequences of elements
*   Elements in a string are each individual character
*   String elements are referred to by their index in square brackets []
*   The colon : is a special index value used to identify the start or end
*   Strings are objects which can be assigned to other objects
*   Individual elements in a string cannot be assigned with new values  that is, lists are immutable (they cannot be changed)

Here are some terms to remember:

*   **Sequences** are ordered arrangements of elements
*   **Lists** are a form of **Sequence** with individual elements which may be of different types or classes
*   **Strings** are **Sequences** of elements called **Characters**
*   **Elements** are separate members of a **Sequence**
*   **Indices** (index numbers) are values which indicate the position of an **element** in a **sequence** (**List** or **String**)
*   **Elements** are referred to by their index in Square Brackets **[]**
*   The **Colon :** is a special index value used to identify the start or end
*   Lists are **mutable**
*   Strings are **immutable**



---

## Conditionals - Boolean expressions

**Concept:** Review how to use boolean expressions in the context of conditionals.

In [ ]:
x = 10
if x > 5:
    print('Greater than 5')

What conditional operators and terms are available?

In [ ]:
# Python example of boolean evaluation of tuples



---

## While Loops - Loop conditions

**Concept:** Review how to use loop conditions in the context of while loops.

In [ ]:
i = 0
while i < 3:
    print(i)
    i += 1

In [ ]:
# Python example using while True:

## While Loop Statements - Break

**Concept:** Review how to use break in the context of statements.

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

###Breaking Out Of A Loop    

The `break` statement ends the current loop and jumps to the statement immediately following the loop -- process flow picks up immediately after the loop's `code block`
    
*A `break` statement can happen anywhere in the body of the loop.*    

Let's see how that works:

## While Loop Statements - Continue

**Concept:** Review how to use continue in the context of statements.

In [ ]:
for i in range(5):
    if i == 3:
        continue
    print(i)

###Continuing Another Iteration Of The Loop    


* The `continue` statement ends the current iteration of the loops `code block`    

* `continue` jumps to the top of the loop and starts the next iteration    

* A `continue` statement can happen anywhere in the loop.

###6.2 The `while` Statement  
  
Computers are often used to automate repetitive tasks. Repeating identical or similar tasks without making errors is something that computers do well and people do poorly. Because iteration is so common, Python provides several language features to make it easier.

One form of iteration in Python is the while statement. Here is a simple program that counts down from ten and then says "Blastoff!".

In [ ]:
n = 10
print('Counting down...')
while n > 0:
    print(n)
    n = n - 1
print('Blastoff!')

More formally, here is the flow of execution for a while statement:  
  
1. Evaluate the condition, yielding True or False.  
2. If the condition is false, exit the while statement and continue execution at the next statement.  
3. If the condition is true, execute the body and then go back to step 1.  
  
This type of flow is called a loop because the third step loops back around to the top. We call each time we execute the body of the loop an iteration. For the above loop, we would say, "It had ten iterations", which means that the body of the loop was executed ten times.

The body of the loop should change the value of one or more variables so that eventually the condition becomes false and the loop terminates. We call the variable that changes each time the loop executes and controls when the loop finishes the iteration variable. If there is no iteration variable, the loop will repeat forever, resulting in an infinite loop.

###6.5 Definite Loops Using `for`  
  
Sometimes we want to loop through a set of things, such as a list of words, the lines in a file, or a list of numbers. When we have a list of things to loop through, we can construct a definite loop using a `for` statement. We call the `while` statement an indefinite loop because it simply loops until some condition becomes False, whereas the `for` loop is looping through a known set of items so it runs through as many iterations as there are items in the set.

The syntax of a `for` loop is similar to the `while` loop in that there is a `for` statement and a loop body:

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print('Happy New Year:', friend)
print('Done!')

In Python terms, the variable `friends` is a list (We will examine lists in more detail in a later chapter) of three strings. The `for` loop goes through the list and executes the body once for each of the three strings in the list resulting in this output:  
  
```
Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!
```
  
Translating this for loop to English is not as direct as the while, but if you think of `friends` as a set, it goes like this: Run the statements in the body of the `for` loop once for each friend in the set named `friends`.

Looking at the `for` loop, `for` and `in` are reserved Python keywords, and `friend` and `friends` are variables.  
  
In particular, `friend` is the iteration variable for the `for` loop. The variable `friend` changes for each iteration of the loop and controls when the `for` loop completes. The iteration variable steps successively through the three strings stored in the `friends` (list) variable.



---

## Dictionaries - Creating dictionaries

**Concept:** Review how to use creating dictionaries in the context of dictionaries.

In [ ]:
employee = {
    "name": "Alice",
    "age": 30,
    "role": "Engineer"
}

In [ ]:
student = dict(name="Bob", age=22, major="Computer Science")

In [ ]:
data = {}  # Create an empty dictionary
data["city"] = "New York"
data["population"] = 8_500_000  # Using underscores for readability
data["country"] = "USA"

## Dictionaries - Accessing/modifying items

**Concept:** Review how to use accessing/modifying items in the context of dictionaries.

Using the key to access a value:

In [ ]:
employee = {"name": "Alice", "age": 30, "role": "Engineer"}
name = employee["name"]
print(name)  # Output: Alice

Using the get() method:

In [ ]:
employee = {"name": "Alice", "age": 30, "role": "Engineer"}
age = employee.get("age")
print(age)  # Output: 30

department = employee.get("department", "Unknown")
print(department)  # Output: Unknown

Adding a new key-value pair:

In [ ]:
employee = {"name": "Alice", "age": 30}
employee["role"] = "Engineer"
print(employee)  # Output: {'name': 'Alice', 'age': 30, 'role': 'Engineer'}

Updating an existing value:

In [ ]:
employee = {"name": "Alice", "age": 30}
employee["age"] = 31
print(employee)  # Output: {'name': 'Alice', 'age': 31}

Deleting a key-value pair:

In [ ]:
employee = {"name": "Alice", "age": 30, "role": "Engineer"}
del employee["age"]
print(employee)  # Output: {'name': 'Alice', 'role': 'Engineer'}

Using the update() method to add or update multiple items:

In [ ]:
employee = {"name": "Alice", "age": 30}
employee.update({"role": "Engineer", "department": "Development"})
print(employee)
# Output: {'name': 'Alice', 'age': 30, 'role': 'Engineer', 'department': 'Development'}



---

## Statements - Import

**Concept:** Review how to use libraries

Importing the entire math library:

In [ ]:
import math
result = math.sqrt(25)
print(result)

This imports all functions and constants defined in the math library. You can then access them using the `math.` prefix.

 Importing specific elements from the math library:

In [ ]:
from math import sqrt, pi
result = sqrt(25)
print(result)
print(pi)

This imports only the sqrt function and the pi constant from the math library. You can use them directly without the `math.` prefix.

Importing a library with an alias:

In [ ]:
import numpy as np
array = np.array([1, 2, 3])
print(array)

This imports the numpy library and assigns it the alias np. This is a common convention for numpy and makes it shorter to use in your code.

Importing a module from a package:

In [ ]:
from os import path

In [ ]:
print(path.exists("data.txt"))

This imports the path module from the os package. This allows you to use functions and classes defined in the path module, such as `path.exists()` to check if a file exists.

Importing all elements from a module:

In [ ]:
from collections import *

This imports all elements (functions, classes, variables) from the collections module. However, this is generally discouraged as it can lead to naming conflicts and make your code harder to read.



---